@model List<RecipeViewModel>

@{
    ViewData["Title"] = "Nieuwe recepten";
}

@*https://bootsnipp.com/snippets/klpOj bootstrap link, thank you*@

<link href="~/css/recipeCards.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header class="text-center welcomeheader">
    <h1 class="headertitle">Hier zijn alle beschikbare recepten te zien!</h1>
    <p class="headerundertitle">Klik op "details" om meer van het recept te zien</p>
</header>

<div class="album text-muted">
    <div class="container">
        <div class="row">
            @foreach (RecipeViewModel recipe in @Model)
            {
                <div class="card">
                    <img src="@recipe.image" alt="100%x280" style="height: 240px; width: 100%; display: block;" @*src="http://via.placeholder.com/356x280"*@ data-holder-rendered="true">
                    <p class="text-dark">@recipe.Name</p>
                    <p hidden>@recipe.ID</p>
                    <div class="btn-group">
                        <a class="text-dark" asp-area="" asp-controller="Recipe" asp-action="DetailsUserRecipe" asp-route-id="@recipe.ID"> Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right" style="font-weight: bold;">
            <a href="#">Terug naar boven</a>
        </p>
        <p style="color: white">.</p>
        <p style="color: white">.</p>
    </div>
</footer>