@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Welkom op de receptenzoeker webapplicatie.</h1>
        <p>Weet je nou niet wat je moet eten vandaag, of benieuwd naar recepten, kijk rond.</p>
    </div>